.carouselContainer {
    position: relative;
    width: 100%;
    /* overflow: visible; */
    overflow: hidden;
    display: flex;
    align-items: center;
    /* checking padding */
    /* padding: 0 40px; */
}

/* Adding new stuff */
.leftNavButton,
.rightNavButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.leftNavButton {
  left: 0;
}

.rightNavButton {
  right: 0;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}
:global(.swiper){
    width: 100%;
    height: auto;
}
:global(.swiper-slide){
    display: flex;
    justify-content: center;
}
.swiperWrapper {
    width: 100%;
    overflow: hidden;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
}
@media(max-width: 600px) {
    .swiper-button-next-custom,
    .swiper-button-prev-custom {
        display: none;
    }
}