.carouselContainer {
    position: relative;
    width: 100%;
    overflow: visible;
}
:global(.swiper){
    width: 100%;
    height: auto;
}
:global(.swiper-slide){
    display: flex;
    justify-content: center;
}
/* .swipperWrapper {
    width: 100%;
    overflow: hidden;
    margin-right: 0!important;
} */
@media(max-width: 600px) {
    .swiper-button-next-custom,
    .swiper-button-prev-custom {
        display: none;
    }
}