.carouselContainer {
    position: relative;
    width: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
}
.navButton {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}
:global(.swiper){
    width: 100%;
    height: auto;
}
:global(.swiper-slide){
    display: flex;
    justify-content: center;
}
.swiperWrapper {
    width: 100%;
    overflow: hidden;
    margin-right: 0!important;
    display: flex;
    justify-content: center;
}
@media(max-width: 600px) {
    .swiper-button-next-custom,
    .swiper-button-prev-custom {
        display: none;
    }
}